<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.flux.mapper.LogMapper">
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		username,
		module,
		action,
		action_time,
		user_ip,
		oper_time
	</sql>
	<!--resultType="Log" 每返回一条结果封装到Log里 -->
	<select id="query" resultType="Log" parameterType="java.util.HashMap">
		select
		<include refid="selectId" />
		from log
		<where>
		<if test="t.username != null and t.username != ''">
				username like '%${t.username}%'
			</if>
			<if test="t.module != null and t.module != ''">
				module like '%${t.module}%'
			</if>
		</where>
		order by oper_time desc
	</select>
	<select id="queryAll" resultType="Log">
		select
		<include refid="selectId" />
		from log
		order by oper_time desc
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="Log" useGeneratedKeys="true" keyProperty="id">
		insert into log (
			username,
			module,
			action,
			action_time,
			user_ip
		)
		values(
			#{username},
			#{module},
			#{action},
			#{actionTime},
			#{userIp}
		)
	</insert>

	<delete id="deleteById" parameterType="Long">
		delete from log where
		id=#{id}
	</delete>
	<select id="getById" parameterType="Long" resultType="Log">
		select
		<include refid="selectId" />
		from log where id=#{id}
	</select>
	<update id="update" parameterType="Log">
		update log
		<set>
		username=#{username},
		module=#{module},
		action=#{action},
		userIp=#{userIp},
		</set>
		where id=#{id}
	</update>
	
</mapper>