<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.flux.mapper.MyTaskMapper" >

  <resultMap id="BaseResultMap" type="com.github.flux.entity.MyTask" >
    <id column="my_task_id" property="myTaskId" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="reward_num" property="rewardNum" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="receive_time" property="receiveTime" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    my_task_id myTaskId, userid, task_id taskId, 
    reward_num rewardNum, status, 
    create_time createTime, 
    receive_time receiveTime
  </sql>
  
  
   <select id="query" resultType="MyTask" parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from my_task
		<where>
			
		</where>
		order by create_time desc
	</select>

	<select id="queryAll" resultType="MyTask">
		select
		<include refid="Base_Column_List" />
		from my_task
		order by create_time desc
	</select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    
    select 
    <include refid="Base_Column_List" />
    from my_task
    where my_task_id = #{myTaskId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    
    delete from my_task
    where my_task_id = #{myTaskId,jdbcType=BIGINT}
  </delete>
  
  <insert id="add" parameterType="com.github.flux.entity.MyTask"  useGeneratedKeys="true" keyProperty="my_task_id">
    
    insert into my_task (userid, task_id, 
      reward_num, status, create_time, 
      receive_time)
    values (#{userid,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, 
      #{rewardNum,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{receiveTime,jdbcType=BIGINT})
  </insert>
  
  <update id="update" parameterType="com.github.flux.entity.MyTask" >
    
    update my_task
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="rewardNum != null" >
        reward_num = #{rewardNum,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=BIGINT},
      </if>
    </set>
    where my_task_id = #{myTaskId,jdbcType=BIGINT}
  </update>
  
</mapper>