<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.flux.mapper.ShopGoodsMapper" >

  <resultMap id="BaseResultMap" type="com.github.flux.entity.ShopGoods" >
    <id column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="stock" property="stock" jdbcType="BIGINT" />
    <result column="sold" property="sold" jdbcType="BIGINT" />
     <result column="descn" property="descn" jdbcType="LONGVARCHAR" />
  </resultMap>
  
 
  <sql id="Base_Column_List" >
    goods_id goodsId, name, logo, type, price, stock, sold, descn
  </sql>
  
  <select id="query" resultType="ShopGoods" parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from shop_goods
		<where>
			
		</where>
		order by goods_id desc
	</select>

	<select id="queryAll" resultType="ShopGoods">
		select
		<include refid="Base_Column_List" />
		from shop_goods
		order by goods_id desc
	</select>
  
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from shop_goods
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="add" parameterType="com.github.flux.entity.ShopGoods" useGeneratedKeys="true" keyProperty="goods_id">
    insert into shop_goods (goods_id, name, logo, 
      type, price, stock, sold, descn)
    values (#{goodsId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{price,jdbcType=BIGINT}, #{stock,jdbcType=BIGINT}, #{sold,jdbcType=BIGINT}, 
      #{descn,jdbcType=LONGVARCHAR})
  </insert>
  
  
  <update id="update" parameterType="com.github.flux.entity.ShopGoods" >
    update shop_goods
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=BIGINT},
      </if>
      <if test="sold != null" >
        sold = #{sold,jdbcType=BIGINT},
      </if>
      <if test="descn != null" >
        descn = #{descn,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=BIGINT}
  </update>
  
</mapper>