<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.flux.mapper.TraceLogMapper" >

  <resultMap id="BaseResultMap" type="com.github.flux.entity.TraceLog" >
    <id column="log_id" property="logId" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="descn" property="descn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    log_id logId, userid, descn, create_time createTime
  </sql>
  
  <select id="query" resultType="TraceLog" parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from trace_log
		<where>

		</where>
		order by create_time desc
	</select>

	<select id="queryAll" resultType="TraceLog">
		select
		<include refid="Base_Column_List" />
		from trace_log
		order by create_time desc
	</select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trace_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from trace_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  
  <insert id="add" parameterType="com.github.flux.entity.TraceLog" useGeneratedKeys="true" keyProperty="log_id">
    insert into trace_log (userid, descn, 
      create_time)
    values (#{userid,jdbcType=BIGINT}, #{descn,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT})
  </insert>
  
  
  <update id="update" parameterType="com.github.flux.entity.TraceLog" >
    update trace_log
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="descn != null" >
        descn = #{descn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  
</mapper>