@charset "utf-8";
/* CSS Document */
.body_bg{ background:url(../images/tjgs/body_bg.gif) repeat;}/*==背景平铺图案==*/
.btn_loginOut{background:url(../images/tjgs/bt_out.gif) no-repeat; cursor:pointer; width:256px; height:66px; border:0px;}/*==红包按钮样式 ==*/
.btn_loginOver{background:url(../images/tjgs/bt_over.gif) no-repeat; cursor:pointer; width:256px; height:66px; border:0px;}/*==红包按钮样式 ==*/

.btn_wlOut{background:url(../images/tjgs/bt2_out.gif) no-repeat; cursor:pointer; width:256px; height:66px; border:0px;}/*==未领礼包按钮==*/
.btn_wlOver{background:url(../images/tjgs/bt2_over.gif) no-repeat; cursor:pointer; width:256px; height:66px; border:0px;}/*==未领礼包按钮==*/

.btn_wqOut{background:url(../images/tjgs/bt3_out.gif) no-repeat; cursor:pointer; width:256px; height:66px; border:0px;}/*==未领礼包按钮==*/
.btn_wqOver{background:url(../images/tjgs/bt3_over.gif) no-repeat; cursor:pointer; width:256px; height:66px; border:0px;}/*==未领礼包按钮==*/
