@charset "utf-8";
/* red packet */

.rp_header{background:#f5362b;margin:-5px -10px 20px;padding:0 10px 15px;position:relative;}
.rp_header img{border:0;}
.rp_header .rp_hbg{max-width:100%;position:relative;bottom:-20px;}
.rp_txtbox{padding:8px;background-color:#f5362b
;color:#fff04c;position:relative;border-radius:8px;font-size:1.4rem;overflow:hidden;}
.rp_txtbox img{width:20%;float:left;}
.rp_txtbox p{width:78%;float:right;margin:0;}
@media screen and (max-width:320px){
.am-paragraph-default .rp_txtbox p{font-size:1.2rem;}
}