@charset "utf-8";
/* CSS Document */
body{
	background-color: #f0f0f0;
}
.cbtn1{ background-color:#f0f0f0;}
.am-u-center{ text-align:center;}
.cen1{text-align:center;}
.c0{background-color:#e5e5e5;}
.c1,.c1 a{ color:#3ba4fc; font-weight:bold;}
.c2{color:#ff2727; font-weight:bold;}
.c3{ color:#999999;}
.btnbg1{ background:url(../images/p05.jpg) no-repeat;background-size:contain; min-height:10em; text-align:center; color:#fff; padding-top:2.5em;}
.btnbg2{ background:url(../images/p06.jpg) no-repeat;background-size:contain; min-height:10em; text-align:center; color:#fff;padding-top:2em;}
.btnbg3{ background:url(../images/p07.jpg) no-repeat;background-size:100% 100%; min-height:9em; text-align:center; color:#fff;padding-left:6em;padding-top:1em;}
.btnbg4{ background:url(../images/p08.jpg) no-repeat;background-size:100% 100%; min-height:9em; text-align:center; color:#fff;padding-left:6em;padding-top:1em;}
.btnbg5{ background:url(../images/p09.jpg) no-repeat;background-size:100% 100%; min-height:9em; text-align:center; color:#fff;padding-left:6em;padding-top:1em;}

.c4{ color:#fb0303;}
.c5{color: #FFF;}
.fon1{font-size:13px;}
.fon2{font-size:13px; padding-top:1em;}
.fon3{font-size:2em;}
.jl_bgc4{ padding-bottom:7em; border-radius: 5px;
	background:#029e61;
	color: #FFF;
	min-height: 120px;
	padding-top: .3em;
	padding-right: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	margin-bottom:1em;
	text-align:center;}
.jl_bgc4 a{color: #FFF;}
.jl_bgc4 a:hover{color: #FFF;}
.bgcolo{background:#3ba4fc;}

.jl_bgc4_1{ padding-bottom:7em; border-radius: 5px;
	color: #FFF;
	min-height: 100px;
	padding-top: .3em;
	padding-right: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	margin-bottom:1em;
	text-align:center;
    background:url(../images/dx.png) no-repeat #3ba4fc;
	}
.jl_bgc4_1 a{color: #FFF;}
.jl_bgc4_1 a:hover{color: #FFF;}
.bgcolo1{background:url(../images/dx1.png) no-repeat #fc5b30;}

.jl_bgc4_2{ padding-bottom:7em; border-radius: 5px;
	color: #000000;
	min-height: 100px;
	padding-top: .3em;
	padding-right: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	margin-bottom:1em;
	text-align:center;
    background:#fff;
	}
.jl_bgc4_3{ padding-bottom:7em; border-radius: 5px;
	color: #000000;
	min-height: 60px;
	padding-top: .3em;
	padding-right: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	margin-bottom:1em;
	text-align:center;
    background:#fff;
	text-align:left;
	}

.jl_bgc4_4{
	background:url(../images/p16.jpg) no-repeat;background-size:cover;
	color: #FFF;
	height:100px;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	text-align:center;
}
.jl_bgc4_5{ padding-bottom:7em; border-radius: 5px;
	color: #000000;
	min-height: 60px;
	padding-top: .3em;
	padding-bottom: .5em;
	padding-left: .5em;
	margin-bottom:1em;
	text-align:center;
    background:#fff;
	text-align:left;
	}
.bgcolo2{ background-color:#fff; border-bottom:1px solid #b3b3b3; margin-bottom:1em; padding-bottom:1.5em;padding-top:1.5em;min-height:200px;}
.bgcolo3{ background-color:#fff; border-bottom:1px solid #cfcfcf;border-top:1px solid #cfcfcf; margin-bottom:1.5em; padding-left:.5em; padding-right:.5em;}
.bgcolo4{ background-color:#fff; border-bottom:1px solid #b3b3b3; margin-bottom:1em; padding-bottom:1.5em;padding-top:1.5em;}





















.c6{ color:#ff6094;}
.c7{ color:#827c7c;}
.c8{ color:#fce051;}

.fon2{font-size:12px;}

.am-top1{
	padding-top: 1em;
}
.am-top2{ padding-top:1.5em;}
.am-top3{ padding-top:1em;}
.am-bottom1{ padding-bottom:1em;}
.bg_c1{
	padding-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}
.tit1{ background-color:#4a97c9; padding:.5em; text-align:center; color:#fff; border-bottom:2px solid #306f98; font-weight:bold;}
.bg_c2{ background-color:#ff5534;padding:.5em; text-align:center; color:#fff; border-radius:5px; border-bottom:2px solid #dd2b09;}
.bg_c2 a{color:#fbc12e; text-decoration:underline;}
.bg_c3{padding:.5em .5em 1.5em .5em; text-align:center; color:#fff; border-radius:5px; background:url(../images/bg1.png) repeat-x 0px bottom #ff5534;}
.bg_c3 a{color:#fff; text-decoration:underline;}
.widget-name{ color:#000;}
.lin1{ line-height:300%;}
.bg_c4{
	border-radius: 5px;
	background: url(../images/bg0_2.png) repeat-x 0px bottom #d71418;
	color: #FFF;
	min-height: 145px;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 1.5em;
	padding-left: 0.5em;
	margin-bottom:1em;
}
.bg_c4_2{
	border-radius: 5px;
	background: url(../images/bg0.png) repeat-x 0px bottom #1487d7;
	color: #FFF;
	min-height: 145px;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 1.5em;
	padding-left: 0.5em;
	margin-bottom:1em;
}

.bg_c4_11{
	border-radius: 5px;
	background: url(../images/bg0_11.png) repeat-x 0px bottom #d51315;
	color: #FFF;
	height:100px;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}
.bg_c4_1 a{ color:#fff;}

.bg_c4_3 a{ color:#ff5656;}
.bg_c4_3{padding:.5em .5em 1.5em .5em; text-align:center; color:#fff; border-radius:5px; background:url(../images/bg1.png) repeat-x 0px bottom #d71418;}
.bg_c5{padding:.5em 1em 1.5em 1em; border-radius:5px; background:url(../images/bg1.png) repeat-x 0px bottom #eab42c;}
.bg_c6{padding:.5em 1em 1.5em 1em; border-radius:5px; background:url(../images/bg1.png) repeat-x 0px bottom #65dbf4;}
.am-gallery-item{background:url(../images/bg0_3.png) repeat-x left bottom; border-radius:5px;}
.am-gallery-desc{padding-bottom:1em;}
.infor_bg1{ background:url(../images/b_bg1.gif) no-repeat;background-size:cover; padding:1em; max-height:31em;}
.infor_bg2{ background:url(../images/b_bg2.gif) no-repeat;background-size:cover; height:30em; }
.jl2{ position:absolute; bottom:10px;}
.infor_bg1 h1{ margin:0; padding:0;}
